In [9]:
IN_FILE = '../../parquets/deployments.parquet'
OUT_FILE = '../../parquets/deployments.parquet'

In [10]:
import pyarrow.parquet as pq

deployments = pq.read_table(IN_FILE)
deployments

pyarrow.Table
platform: string
platform_id: string
name: string
website: string
additional: string
votes_count: int64
proposals_count: int64
----
platform: [["daostack","daostack","daostack","daostack","daostack",...,"daostack","daostack","daostack","daostack","daostack"],["snapshot","snapshot","snapshot","snapshot","snapshot",...,"snapshot","snapshot","snapshot","snapshot","snapshot"],["aragon","aragon","aragon","aragon","aragon",...,"aragon","aragon","aragon","aragon","aragon"],["daohaus","daohaus","daohaus","daohaus","daohaus",...,"daohaus","daohaus","daohaus","daohaus","daohaus"]]
platform_id: [["0x0b93ba560283350d4216f29dc57e15df38d0eace","0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6","0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd","0x294f999356ed03347c7a23bcbcf8d33fa41dc830","0x2b8c70fffda7f3d7667f7cfede1429313886329c",...,"0xe716ec63c5673b3a4732d22909b38d779fa47c3f","0xeed417f80cd918ce65b8e141daa00704aef98a90","0xef25b64d4bdbe23f1bb5e557b5d24f12c46da0bc","0xf902172bd2f34a6cf86d424f0440836d2d89afeb","0xfd4a08ba1863718d92467ad05f13b352c3ae2cfd"],["ethfund.eth","fadedfate.eth","fangnaoke.eth","fasola.eth","fdsfsfss.eth",...,"sbf666.eth","stakerocketpool.eth","temboguardians.eth","visionaryboy.eth","xzotto.eth"],["0x0017a25385931ee690dc09df6cca919d1cd007b2","0x001cd74c9a99b6c68e93fe69595124407b37aa8e","0x0068990f8910e502dd41eb71fbc506936ca100af","0x00b424842685f69912cfd93af7293602c973bf56","0x00ccb72bd1f72882d89774d9acccce616ed9227d",...,"0xffbbb4c1a8fe19ce874a125935dc25aadbcf19dd","0xffbc4704f0ad912977136592d262d6a6c8b3c498","0xffd2f503ec324b367a92ad81fbcc5c433b162721","0xffd943ea0362ea0eef463e169394ae7ab6fbc35e","0xffe19aaee419c46443ebe7f583230d7c32e42eb4"],["0x02c6c33b9bb6b2fc8ae9ab43a0235f4d7897b5d9","0x0a96234adacd1e71c9b2a237cf12374f64e05e3a","0x0d8d5002562405cb1ed598ff4fb48c948f36a18b","0x0feb2ee31f9d8bcc580f18d4fe8ed9de61d02ff8","0x1543bcdf759c0fccbb375a8b8b0c5fd1393a9b85",...,"0xff07943f171b826b3618982a6213f157fbc5e226","0xff3f8c0b98454306fb0bda57e5ae38cbfa66cc0d","0xff4b20d48a1e8f93bf6745de388547e731f96fd0","0xffb676765d521518ac5c0d4f4067a9db9b72901b","0xffe8a8ec2477390c6b97074f44326fac24d7f6dd"]]
name: [["CuraDAO","dOrg","PrimeDAO","Genesis Alpha","ETHGlobal",...,"xDXdao","Gitcoin: Shillin and Chillin DAO","KyberHackDAO","Unilogin","Arbitrum DAO"],["ETHFUND","Magic Girls","study group","FASOLA.ETH","alex",...,"SBFDAO","StakeRocketPool ","Tembo Guardians","Fantom Boy","LazyTop"],[null,"ShillDAO",null,null,null,...,null,null,null,null,null],["Zaibatsu-DAO",null,"test commando","HIEROPHANT GREEN DAO",null,...,null,"array.finance CCO","PRIDEdao ","EmpanaDAO","Kokonut Network"]]
website: [["nan","nan","nan","nan","nan",...,"nan","nan","nan","nan","nan"],["https://snapshot.org/#/ethfund.eth","https://snapshot.org/#/fadedfate.eth","https://snapshot.org/#/fangnaoke.eth","https://snapshot.org/#/fasola.eth","https://snapshot.org/#/fdsfsfss.eth",...,"https://snapshot.org/#/sbf666.eth","https://snapshot.org/#/stakerocketpool.eth","https://snapshot.org/#/temboguardians.eth","https://snapshot.org/#/visionaryboy.eth","https://snapshot.org/#/xzotto.eth"],["https://etherscan.io/address/0x0017a25385931ee690dc09df6cca919d1cd007b2#code","https://etherscan.io/address/0x001cd74c9a99b6c68e93fe69595124407b37aa8e#code","https://etherscan.io/address/0x0068990f8910e502dd41eb71fbc506936ca100af#code","https://etherscan.io/address/0x00b424842685f69912cfd93af7293602c973bf56#code","https://etherscan.io/address/0x00ccb72bd1f72882d89774d9acccce616ed9227d#code",...,"https://etherscan.io/address/0xffbbb4c1a8fe19ce874a125935dc25aadbcf19dd#code","https://etherscan.io/address/0xffbc4704f0ad912977136592d262d6a6c8b3c498#code","https://etherscan.io/address/0xffd2f503ec324b367a92ad81fbcc5c433b162721#code","https://etherscan.io/address/0xffd943ea0362ea0eef463e169394ae7ab6fbc35e#code","https://etherscan.io/address/0xffe19aaee419c46443ebe7f583230d7c32e42eb4#code"],["nan","nan","nan","nan","nan",...,"nan","nan","nan","nan","nan"]]
additional: [["nan","nan","nan","nan","nan",...,"nan","nan","nan","nan","nan"],["nan","liuhaha5308848","https://app.syndicate.io/collectives/0x5f51845ca15363feefae9e417c89881c06a2ccb9/claim?chain=mainnet","nan","nan",...,"nan","StakeRocketPool, https://www.stakerocketpool.xyz","TemboGuardians","FantomBOYbyVB","nan"],["nan","nan","nan","nan","nan",...,"nan","nan","nan","nan","nan"],["network: arbitrum version: 2.1","network: arbitrum version: 2.1","network: arbitrum version: 2.1","network: arbitrum version: 2.1","network: arbitrum version: 2.1",...,"network: xdai version: 2.1","network: xdai version: 2.1","network: xdai version: 2.1","network: xdai version: 2.0","network: xdai version: 2.1"]]
votes_count: [[103,336,30,2203,74,...,5913,1,6,6,1],[1,1,1,7,3,...,6,16,31,22,22],[2,216,0,0,16,...,0,0,1,0,0],[1,0,1,0,0,...,0,123,0,0,272]]
proposals_count: [[49,127,37,387,19,...,1438,1,6,3,1],[1,3,1,1,3,...,1,11,2,3,11],[2,17,0,0,25,...,0,0,1,0,0],[2,0,1,0,0,...,0,122,0,3,92]]

In [11]:
num_deployments = deployments.shape[0]
deployments.shape

(35983, 7)

In [12]:
deployments_df = deployments.to_pandas()
deployments_df

,platform,platform_id,name,website,additional,votes_count,proposals_count
0,daostack,0x0b93ba560283350d4216f29dc57e15df38d0eace,CuraDAO,nan,nan,103,49
1,daostack,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,dOrg,nan,nan,336,127
2,daostack,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,PrimeDAO,nan,nan,30,37
3,daostack,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,Genesis Alpha,nan,nan,2203,387
4,daostack,0x2b8c70fffda7f3d7667f7cfede1429313886329c,ETHGlobal,nan,nan,74,19
...,...,...,...,...,...,...,...
35978,daohaus,0xff07943f171b826b3618982a6213f157fbc5e226,None,nan,network: xdai version: 2.1,0,0
35979,daohaus,0xff3f8c0b98454306fb0bda57e5ae38cbfa66cc0d,array.finance CCO,nan,network: xdai version: 2.1,123,122
35980,daohaus,0xff4b20d48a1e8f93bf6745de388547e731f96fd0,PRIDEdao,nan,network: xdai version: 2.1,0,0
35981,daohaus,0xffb676765d521518ac5c0d4f4067a9db9b72901b,EmpanaDAO,nan,network: xdai version: 2.0,0,3
35982,daohaus,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,Kokonut Network,nan,network: xdai version: 2.1,272,92

In [13]:
# check if there are rows that are complete duplicates
num_dupes = deployments_df.duplicated().sum()
num_dupes

2599

In [14]:
# remove the duplicates
deployments_df = deployments_df.drop_duplicates()
assert deployments_df.shape[0] == num_deployments - num_dupes
deployments_df

,platform,platform_id,name,website,additional,votes_count,proposals_count
0,daostack,0x0b93ba560283350d4216f29dc57e15df38d0eace,CuraDAO,nan,nan,103,49
1,daostack,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,dOrg,nan,nan,336,127
2,daostack,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,PrimeDAO,nan,nan,30,37
3,daostack,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,Genesis Alpha,nan,nan,2203,387
4,daostack,0x2b8c70fffda7f3d7667f7cfede1429313886329c,ETHGlobal,nan,nan,74,19
...,...,...,...,...,...,...,...
35978,daohaus,0xff07943f171b826b3618982a6213f157fbc5e226,None,nan,network: xdai version: 2.1,0,0
35979,daohaus,0xff3f8c0b98454306fb0bda57e5ae38cbfa66cc0d,array.finance CCO,nan,network: xdai version: 2.1,123,122
35980,daohaus,0xff4b20d48a1e8f93bf6745de388547e731f96fd0,PRIDEdao,nan,network: xdai version: 2.1,0,0
35981,daohaus,0xffb676765d521518ac5c0d4f4067a9db9b72901b,EmpanaDAO,nan,network: xdai version: 2.0,0,3
35982,daohaus,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,Kokonut Network,nan,network: xdai version: 2.1,272,92

In [15]:
# are there duplicate platform and platform_id combinations?
dupes = deployments_df.groupby(['platform', 'platform_id']).size()[deployments_df.groupby(['platform', 'platform_id']).size() > 1]
dupes = dupes.reset_index()
dupes

   platform             platform_id  0
0  snapshot  bananagun-snapshot.eth  2
1  snapshot         konpedalnii.eth  2
2  snapshot             mollars.eth  2
3  snapshot            opnxherd.eth  2
4  snapshot           ramsesdex.eth  2
5  snapshot          üêãbluewhale.eth  2

In [16]:
# show where platform_id is paragonscouncil.eth
deployments_df[deployments_df['platform_id'] == 'paragonscouncil.eth']
# keep the later of the two
deployments_df = deployments_df.drop_duplicates(subset=['platform', 'platform_id'], keep='last')
# assert deployments_df.shape[0] == 30129 - 1
deployments_df

,platform,platform_id,name,website,additional,votes_count,proposals_count
0,daostack,0x0b93ba560283350d4216f29dc57e15df38d0eace,CuraDAO,nan,nan,103,49
1,daostack,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,dOrg,nan,nan,336,127
2,daostack,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,PrimeDAO,nan,nan,30,37
3,daostack,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,Genesis Alpha,nan,nan,2203,387
4,daostack,0x2b8c70fffda7f3d7667f7cfede1429313886329c,ETHGlobal,nan,nan,74,19
...,...,...,...,...,...,...,...
35978,daohaus,0xff07943f171b826b3618982a6213f157fbc5e226,None,nan,network: xdai version: 2.1,0,0
35979,daohaus,0xff3f8c0b98454306fb0bda57e5ae38cbfa66cc0d,array.finance CCO,nan,network: xdai version: 2.1,123,122
35980,daohaus,0xff4b20d48a1e8f93bf6745de388547e731f96fd0,PRIDEdao,nan,network: xdai version: 2.1,0,0
35981,daohaus,0xffb676765d521518ac5c0d4f4067a9db9b72901b,EmpanaDAO,nan,network: xdai version: 2.0,0,3
35982,daohaus,0xffe8a8ec2477390c6b97074f44326fac24d7f6dd,Kokonut Network,nan,network: xdai version: 2.1,272,92

In [17]:
# save the dataframe as a parquet file deployments.parquet
import pyarrow as pa
deployments = pa.Table.from_pandas(deployments_df)
pq.write_table(deployments, OUT_FILE)